:root {
  --chat-message-font-size: 16px;
}

.chatPageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.chatWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.chatNavigation {
  flex: 0 0 auto;
}

.chatContent {
  flex: 1;
  flex-direction: column;
  min-height: 0;
  display: flex;
}

.chatContainer {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-primary);
  overscroll-behavior: none;
  -ms-overflow-style: none;
  scroll-behavior: auto;
}

.chatVirtuoso {
  margin-bottom: 4px;
}

.chatStreamerInfo {
  display: flex;
  align-items: center;
  min-height: 48px;
  padding: 0 16px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.075);
  background: rgba(255, 255, 255, 0.075);
  cursor: default;

  .chatStreamerInfoContent {
    flex: 1 1 25%;
    display: flex;
    align-items: center;
    gap: 6px;

    .streamerName {
      font-size: 16px;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.7);
    }

    .liveBadgeDot {
      display: inline-block;
      vertical-align: middle;
      min-width: 6px;
      min-height: 6px;
      border-radius: 50%;
      background-color: rgba(255, 0, 0, 0.7);
    }
  }

  .chatStreamerLiveStatus {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 100%;
    padding: 0 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    span {
      color: rgba(255, 255, 255, 0.7);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .chatStreamerCard {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    width: 75%;
    max-width: 350px;
    height: max-content;
    overflow: hidden;
    background: var(--bg-overlay);
    border: 1px solid var(--border-primary);
    box-shadow: var(--shadow-dialog);
    backdrop-filter: blur(3px);
    border-radius: 6px;
    padding: 16px;
    z-index: 9999;
    margin: 0 auto;

    .chatStreamerCardContent {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .chatStreamerCardHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        img {
          border-radius: 6px;
          border: 1px solid var(--border-primary);
          width: 90%;
          max-width: 250px;
          height: auto;
          object-fit: cover;
        }
      }
    }

    .chatStreamerCardBody {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .chatStreamerCardTitle {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 600;
        color: var(--text-secondary);
        white-space: wrap;
      }

      p {
        font-size: 15px;
        color: var(--text-tertiary);
        white-space: wrap;
      }
    }
  }

  .chatStreamerInfoActions {
    flex: 1 1 25%;
    display: flex;
    justify-content: end;

    button {
      background: none;
      border: none;
      padding: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      cursor: pointer;
    }

    .chattersBtn {
      opacity: 0.5;
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 1;
      }
    }

    .chatStreamerInfoModeratorBtn {
      opacity: 1;
      cursor: pointer;
      transition: opacity 0.2s ease;

      &.disabled {
        opacity: 0.5;
      }
    }
  }
}

/** [Pinned Message] **/
.pinnedMessageBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  display: none;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.show {
    display: flex;
  }

  &.open {
    &:hover img {
      opacity: 1;
    }
    img {
      opacity: 1;
    }
  }

  &:hover img {
    opacity: 0.8;
  }

  img {
    opacity: 0.4;
    transition: opacity 0.2s ease;
  }
}

/** [Poll] **/

.pollMessageBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;

  img {
    opacity: 0.4;
    transition: opacity 0.2s ease;
  }

  &.open {
    img {
      opacity: 1;
    }
  }
}

.poll {
  background: linear-gradient(to bottom, #1d2621, #1f2d25);
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: calc(100% - 16px);
  box-shadow: 0px 4px 12px #030a04;
  top: 56px;
  border-radius: 6px;
  display: none;
  gap: 16px;
  flex-direction: column;
  overflow: hidden;
  padding: 16px;
  z-index: 9;
  max-height: 80px;
  transition: max-height 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &.expanded {
    max-height: 100%;
    transition: max-height 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    .pollOptions,
    .pollFooter {
      opacity: 1;
    }

    .pollHeader > .pollHeaderInfo > span {
      white-space: wrap;
    }
  }

  &.open {
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.15s ease-in-out;
    animation-fill-mode: forwards;
  }

  .pollHeader {
    display: flex;
    justify-content: space-between;

    > .pollHeaderInfo {
      display: flex;
      gap: 8px;
      flex-direction: column;
      flex-grow: 0;
      flex-basis: auto;
      min-width: 0;

      h4 {
        color: var(--text-secondary);
      }

      span {
        color: #ccedda;
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: max-width 0.15s ease-in-out;
      }
    }

    > .pollActions {
      display: flex;
      gap: 4px;

      button {
        background: none;
        border: 1px solid #39463f;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 20px;
        transition: border-color 0.2s ease;

        &:hover {
          border-color: #8fa99a;
          > img {
            opacity: 1;
          }
        }

        > img {
          opacity: 0.4;
          transition: opacity 0.2s ease;
        }
      }
    }
  }

  .pollOptions {
    display: flex;
    flex-direction: column;
    gap: 4px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;

    &.pollOptionsVoted {
      button {
        cursor: default;
      }
    }
  }

  .pollOption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2e3933;
    border-radius: 6px;
    border: 1px solid transparent;
    padding: 12px;
    position: relative;
    gap: 12px;
    cursor: pointer;
    transition:
      background-color 0.2s ease,
      border-color 0.2s ease;

    &:hover {
      background-color: #39453f;

      .pollOptionBtn {
        border-color: #7d9186;
      }
    }

    &.pollOptionVoted {
      background-color: #ffe45d29;
      border-color: #ffe45d;
      cursor: default;

      .pollOptionBar > .pollOptionBarFill {
        background-color: #ae930c;
      }
    }

    &.pollOptionWon {
      background-color: #1a96452a;
      border-color: #1a9645;
      overflow: hidden;

      &:hover {
        background-color: #1a96452a;
      }

      .pollOptionBar > .pollOptionBarFill {
        background-color: #088d46;
      }

      .pollOptionVotedLabel {
        span {
          font-weight: 700;
          border: 1px solid rgba(255, 255, 255, 0.163);
          background: rgba(255, 255, 255, 0.163);
          color: rgb(255, 255, 255, 0.8);
          padding: 2px 4px;
          font-size: 11px;
          border-radius: 6px;
        }
      }

      .pollOptionLabel span {
        color: #ffffff;
      }
    }

    .pollOptionLabel {
      &.pollOptionLabelVoted,
      &.pollOptionLabelWon {
        > span {
          color: #ffffff;
        }
      }

      .pollOptionLabelContent {
        display: flex;
        align-items: center;
        gap: 6px;

        > p {
          color: #ffffff;
        }

        .pollOptionLabelStatus {
          display: flex;
          align-items: center;
          gap: 2px;
          border-radius: 4px;
          font-size: 11px;
          font-weight: 700;
          color: #ffffff;

          #pollOptionWonLabel,
          #pollOptionVotedLabel {
            background-color: #ffffff38;
            border: 1px solid #ffffff33;
            font-weight: 800;
            display: flex;
            align-items: center;
            width: fit-content;
            gap: 8px;
            color: rgb(255, 255, 255, 0.9);
            padding: 2px 4px;
            font-size: 12px;
            border-radius: 4px;
          }

          #pollOptionWonLabel {
            background-color: #15e73438;
            border: 1px solid #15e73438;
            font-weight: 800;
            color: rgb(255, 255, 255, 0.9);
            padding: 2px 4px;
          }
        }
      }
    }

    &.pollOptionSelected {
      background-color: #61746a;
      border-color: #95b6a4;

      .pollOptionBar > .pollOptionBarFill {
        background-color: #088d4661;
      }

      .pollOptionLabel {
        > p {
          color: #ccedda;
        }

        > span {
          color: #ccedda;
        }
      }
    }

    .pollOptionBar {
      position: absolute;
      height: 100%;
      left: 0;
      right: 0;
      z-index: 1;
      overflow: hidden;

      .pollOptionBarFill {
        background-color: #ffffff0f;
        border-radius: 6px;
        height: 100%;
        width: 0;
        left: 0;
        right: 0;
        transition: background-color 0.2s ease-in-out;
      }
    }

    .pollOptionBtn {
      background: none;
      border: 1.5px solid #516058;
      cursor: pointer;
      padding: 4px;
      width: 20px;
      height: 20px;
      z-index: 2;
      border-radius: 4px;
      display: flex;
      align-items: center;
      transition: border-color 0.2s ease;

      &.selected {
        background-color: #1a96452a;
        border-color: #1a9645;
      }
    }

    .pollOptionLabel {
      z-index: 2;
      display: flex;
      justify-content: space-between;
      flex: 1;
      align-items: center;
      font-weight: 500;
      color: #8ba496;
      transition: color 0.2s ease;

      > p {
        font-weight: 600;
      }
    }
  }

  .pollFooter {
    display: flex;
    flex-direction: column;
    opacity: 0;
    gap: 16px;
    transition: opacity 0.15s ease-in-out;

    .pollVoteButton {
      width: 104px;
      height: 40px;
      background-color: #d0f8d8;
      border-radius: 4px;
      color: #18221a;
      font-size: 13px;
      font-weight: 700;
      cursor: pointer;
    }

    .pollTimer {
      background-color: #2e3933;
      border-radius: 4px;
      width: 100%;
      position: relative;
      height: 12px;

      span {
        background-color: #b6e7cb;
        height: 100%;
        width: 40px;
        border-radius: 4px;
      }
    }
  }
}

/** [Pinned Message] **/

.pinnedMessage {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: var(--pin-poll-message-bg);
  backdrop-filter: blur(3px);
  border: var(--pin-poll-message-border);
  box-shadow: var(--shadow-secondary);
  width: calc(100% - 16px);
  top: 56px;
  border-radius: 6px;
  display: none;
  gap: 4px;
  flex-direction: column;
  overflow: hidden;
  padding: 16px;
  z-index: 9;

  &.open {
    display: flex;
  }

  &.expanded .pinnedMessageContent {
    white-space: normal;
    margin-bottom: 8px;

    > span {
      white-space: normal;
      text-overflow: unset;
    }
  }

  .pinnedMessageTop {
    gap: 8px;
    display: flex;
    flex-direction: column;
  }
}

.pinnedMessageFooterContent {
  display: flex;
  gap: 4px;
  color: var(--pin-poll-text);
  font-size: 16px;
  font-weight: 600;
  align-items: center;

  > .chatroomBadge {
    width: 18px;
    height: 18px;

    > img {
      width: inherit;
      height: inherit;
    }
  }
}

.pinnedMessageFooter {
  display: none;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ffffff19;
  padding-top: 16px;

  &.open {
    display: flex;
  }
}

.pinnedMessageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .pinnedMessageHeaderInfo {
    display: flex;
    flex-direction: row;
    gap: 4px;
    color: var(--pin-poll-text);
    flex-grow: 0;
    flex-basis: auto;
    min-width: 0;

    .chatroomBadge {
      width: 18px;
      height: 18px;

      > img {
        width: inherit;
        height: inherit;
      }
    }

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: max-width 0.15s ease-in-out;
      color: var(--pin-poll-text);
      font-weight: 600;
    }
  }
}

.pinnedMessageActions {
  display: flex;
  gap: 4px;

  button {
    background-color: transparent;
    border: 1px solid var(--border-primary);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 20px;
    transition:
      border-color 0.2s ease,
      background-color 0.2s ease;

    &:hover {
      border-color: var(--border-hover);
      background-color: var(--border-bg-hover);
      > img {
        opacity: 0.7;
      }
    }

    > img {
      opacity: 0.4;
      transition: opacity 0.2s ease;
    }
  }
}

.pinnedMessageContent {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  > a {
    color: var(--text-secondary) !important;
    font-size: 20px;
    text-decoration: underline;
    transition: color 0.15s ease;

    &:hover {
      color: var(--text-secondary) !important;
    }
  }

  > span {
    color: var(--text-secondary);
    font-size: 20px;
    line-height: 1.5;
  }
}

/** [End of Pinned Message] **/

.chatroomsEmptyState {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 16px;
  p {
    opacity: 0.5;
  }
}

.chatBody {
  min-height: 0;
  flex: 1 1 auto;
  margin-right: 0;
  display: flex;
  max-width: 100%;
  word-wrap: break-word;
  flex-direction: column;
}

/** [Scroll to Bottom Component] **/
.scrollToBottomBtn {
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
  width: 196px;
  margin: 0 auto;
  height: 40px;
  padding: 0 6px 0 8px;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--border-primary);
  background-color: var(--btn-primary-bg);
  box-shadow: 0px 8px 5px var(--shadow-primary);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition:
    background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  &:hover {
    background-color: var(--btn-primary-hover);
    box-shadow: 0px 8px 10px var(--shadow-primary);
  }

  > img {
    filter: invert(1);
  }
}

@keyframes scrollToBottomBtn {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
