/** [Chat Input] **/

.chatBoxContainer {
  position: relative;
  flex: 0 0 auto;
  min-width: 0;
}

.chatQuickEmotes {
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  width: calc(100% - 16px);
  padding-bottom: 8px;
  overflow-x: auto;
  button {
    display: grid;
    place-items: center;
    flex: 0 0 28px;
    height: 28px;
    border: 0;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    &:hover {
      background: var(--bg-hover);
    }
    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
  }
}

.chatInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 8px;

  > .chatInputContainer {
    width: calc(100% - 16px);
    margin-bottom: 8px;
    margin-top: -1px;
    display: flex;
    position: relative;
    min-height: 64px;
    padding: 8px 0 8px 16px;
    z-index: 3;
    align-items: center;
    background: var(--bg-input);
    border: 1px solid var(--border-primary);
    border-radius: 4px;
    box-shadow: var(--shadow-secondary);

    input:focus-visible {
      outline: none;
    }
  }
}

.chatInputInfoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  flex-direction: column;
  left: 0;
  z-index: 1;

  > .chatInfoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid var(--border-secondary);
    border-bottom: none;
    z-index: 1;
    background: var(--input-info-bar);
    margin: 0 8px;
    padding-bottom: 10px;
    height: 32px;
    width: calc(100% - 16px);
    border-radius: 6px 6px 0 0;
    font-size: 14px;
    top: 2px;
    position: relative;
    color: var(--text-tertiary);
    animation: slideAndFadeIn 0.2s ease-in-out forwards;

    > .chatInfoBarIcon {
      position: relative;

      > .chatInfoBarIconTooltipContent {
        display: none;
        position: absolute;
        bottom: 32px;
        right: -4px;
        width: max-content;
        max-width: 240px;
        background-color: var(--bg-input);
        border: 1px solid var(--border-secondary);
        border-radius: 4px;
        padding: 16px 12px;
        color: var(--text-primary);
        gap: 4px;
        flex-direction: column;
        z-index: 9999;

        &.show {
          display: flex;
        }
      }

      > .chatInfoBarIconTooltip {
        opacity: 0.4;
        height: 16px;
        width: 16px;
        cursor: pointer;
        transition: opacity 0.2s ease-in-out;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  > .replyInputContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    width: calc(100% - 16px);
    border: 1px solid var(--border-secondary);
    border-bottom: none;
    background: var(--bg-tertiary);
    gap: 4px;
    opacity: 1;
    position: relative;
    min-height: min-content;
    margin-bottom: -6px;
    border-radius: 6px 6px 0 0;
    z-index: 2;

    > .replyInputBoxHead {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      > span {
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        letter-spacing: 0.15px;
      }

      > .replyInputCloseButton {
        -webkit-app-region: no-drag;
        border: 1px solid var(--border-primary);
        background-color: transparent;
        cursor: pointer;
        border-radius: 4px;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition:
          background-color 0.2s ease-in-out,
          border-color 0.2s ease-in-out;

        &:hover {
          background-color: #ffffff21;
          border-color: var(--border-hover);

          > img {
            opacity: 1;
          }
        }

        img {
          opacity: 0.5;
          transition: opacity 0.2s ease-in-out;
        }
      }
    }

    > .replyInputBoxContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      > span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
      }
    }

    &.show {
      display: flex;
      z-index: 2;
      animation: replySlideAndFadeIn 0.15s ease-in-out forwards;
    }
  }
}

.chatInputBox {
  flex: 1 1 auto;
  min-width: 0;
  margin-top: 0;
  position: relative;

  .chatInput {
    border-bottom: 0;
    border-radius: 6px 0 0 0;
    border-right: none;
    display: inline-flex;
    max-height: 148px;
    overflow-y: auto;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
    color: #fff;
    caret-color: var(--input-caret);
    outline: 0px solid transparent;
    outline-offset: 0px;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-primary);
      border-radius: 2px;
      background-clip: content-box;
      min-width: 32px;
      min-height: 32px;
    }
  }

  .chatInputPlaceholder {
    color: var(--text-tertiary);
    z-index: 99;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    pointer-events: none;
    user-select: none;
    padding: 0;
    margin: 0;
  }
}

.chatInputActions {
  display: flex;
  align-items: center;
  padding: 0 12px;
  min-width: 112px;
  max-width: 112px;
  justify-content: center;
  border-left: 1px solid var(--border-primary);

  &.replyThread {
    border-left: none;
    display: none;
  }
}

.editor-paragraph {
  padding-right: 16px;
  width: 100%;
  line-height: 32px;

  > * {
    display: inline;
    max-width: 100%;
  }

  *::selection {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

.emoteContainer {
  > img {
    vertical-align: middle;
    height: 24px;
    margin: 0 1px;
  }
}

.chatEmoteBtns {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  gap: 0px;
  height: 38px;
  overflow: hidden;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out;

  &.activeDialog {
    border-color: rgba(255, 255, 255, 0.3);

    > .emoteBtnSeparator {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  > .emoteBtnSeparator {
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.05);
    transition: background-color 0.15s ease-in-out;
  }
}

.emoteBtn {
  background: none;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 56px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    img {
      opacity: 1;
    }
  }

  &.activeDialog {
    background-color: rgba(255, 255, 255, 0.2);
    img {
      opacity: 1;
    }
  }

  img {
    vertical-align: middle;
    height: 24px;
    width: 24px;
    opacity: 0.5;
    transition: opacity 0.2s ease;
  }
}

/** [End of Chat Input] **/

/** [Emote Dialogs] **/
.emoteDialog {
  flex-direction: column;
  position: absolute;
  bottom: 80px;
  right: 0;
  border-radius: 8px;
  padding: 4px;
  width: 100%;
  max-width: 550px;
  height: 280px;
  background-color: var(--emote-dialog-bg);
  border: 1px solid var(--emote-dialog-border);
  box-shadow: var(--shadow-dialog);
  z-index: 99;
  display: none;
  overflow: hidden;

  &.show {
    display: flex;
    animation: slideAndFadeIn 0.3s ease-in-out forwards;
  }
}

.dialogBody {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;
  border-radius: 6px;
  flex: 1;
  padding-right: 4px;
}

.dialogBodyEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 24px);
  opacity: 0.5;
  > p {
    font-size: 18px;
    color: #fff;
  }
}

.dialogHeadEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  opacity: 0.5;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 2px;
  background-clip: content-box;
}

.dialogHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;

  > .dialogHeadTitle {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 0 0 25%;
    justify-content: flex-start;
  }

  > .dialogHeadMenuItems {
    display: flex;
    align-items: center;
    gap: 4px;
    flex: 0 0 25%;
    justify-content: flex-end;

    > .dialogHeadMenuItem {
      height: 32px;
      width: 32px;
      border-radius: 4px;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ffffff33;
      cursor: pointer;
      transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;

      &:hover {
        background-color: #ffffff21;
        border-color: #ffffff37;
      }

      &.active {
        background-color: var(--btn-secondary-bg);
        border-color: var(--btn-secondary-border);

        > img {
          opacity: 1;
        }
      }

      > img {
        opacity: 0.5;
        transition: opacity 0.2s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  > .dialogHeadSearch {
    flex: 1;
    display: flex;
    justify-content: center;

    input {
      width: 90%;
      max-width: 240px;
      padding: 8px;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.0784313725);
      border: 1px solid rgba(255, 255, 255, 0.1294117647);
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      outline: none;
      transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;

      &:hover {
        background-color: #ffffff21;
        border-color: #ffffff37;
      }

      &::placeholder {
        color: #ffffff91;
      }
    }
  }

  > .dialogHeadTitle > img {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.dialogBodySection {
  background: var(--bg-tertiary);
  border-radius: 8px;
  padding: 12px;
  min-height: calc(50% - 12px);
  overflow: hidden;
  transition: height 0.2s ease-in-out;
  &.opened {
    background: var(--bg-tertiary);
    min-height: max-content;

    .dialogRowHeadBtn > img {
      transform: rotate(180deg);
    }
  }

  > .emoteItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;

    > .emoteItem {
      height: 40px;
      padding: 4px;
      border-radius: 4px;
      border: 1px solid var(--border-secondary);
      background: none;
      cursor: pointer;
      aspect-ratio: 1 / 1;
      position: relative;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      img {
        height: 32px;
        width: fit-content;
        vertical-align: middle;
      }
    }
  }
}

.emoteItemSubscriberLock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-overlay);
  border-radius: 4px;

  > img {
    top: 50%;
    left: 50%;
    transform: translate(0%, 0%);
    width: 16px !important;
    height: 16px !important;
    opacity: 1;
  }
}

.dialogRowHeadBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;

  > img {
    opacity: 0.5;
    transition:
      transform 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }

  &:hover > img {
    opacity: 1;
  }
}

.dialogRowHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;

  > span {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-tertiary);
  }
}

/** [End of Emote Dialogs] **/

/** [Emoji Dialog] **/
// .emojiGrid {
//   height: 100%;
//   flex-wrap: wrap;
//   gap: 4px;
//   width: 100%;

//   .emptyState {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     opacity: 0.5;

//     span {
//       font-size: 16px;
//       color: #fff;
//     }
//   }
// }

// .emojiItem {
//   height: 40px;
//   width: 40px;
//   flex: 0 0 40px;
//   padding: 4px;
//   border-radius: 4px;
//   border: 1px solid #314d3c;
//   background: none;
//   cursor: pointer;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   transition: all 0.2s ease-in-out;

//   &:hover {
//     background-color: #1c3627;
//     border-color: #53ff24;
//     transform: scale(1.1);
//   }

//   .emoji {
//     font-size: 24px !important;
//     line-height: 1;
//     user-select: none;
//   }
// }

// .emoji-emote {
//   display: inline-block;
//   font-size: 1.2em;
//   vertical-align: middle;
//   line-height: 1;
// }

/** [End of Emoji Dialog] **/

/** [Emote Suggestions] **/

.inputSuggestionsWrapper {
  background: var(--bg-tertiary);
  border: 1px solid var(--border-primary);
  border-radius: 6px;
  height: 180px;
  position: absolute;
  left: 0;
  bottom: 72px;
  z-index: 9999;
  width: 100%;
  max-width: 100%;
  padding: 4px;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;

  &.show {
    display: block;
  }
}

.emoteTags {
  white-space: nowrap;
  display: flex;
  gap: 4px;
}

.inputSuggestions {
  display: flex;
  height: 100%;
  gap: 4px;
  flex-direction: column;

  &.show {
    display: block;
  }
}

.inputSuggestion {
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid transparent;
  gap: 8px;
  cursor: pointer;
  width: 100%;
  max-height: 56px;
  padding: 8px;
  border-radius: 4px;
  transition:
    background 0.15s ease-in-out,
    border 0.15s ease-in-out;

  &:hover,
  &.selected {
    background: var(--bg-secondary);
    border: 1px solid var(--border-primary);

    span {
      color: var(--text-secondary);
    }
  }

  &.emoteItemSubscriberOnly {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover,
    &.selected {
      background: transparent;
      border: 1px solid transparent;
    }
  }

  > .inputSuggestionImage {
    position: relative;
    flex-shrink: 0;
    min-width: 32px;
    min-height: 32px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-height: 32px;
      object-fit: cover;
    }
  }

  > .inputSuggestionInfo {
    display: flex;
    justify-content: space-between;
    flex: 1;
    min-width: 0;
    align-items: center;
    .emoteTags > span {
      border: 1px solid var(--border-secondary);
      padding: 4px 8px;
      border-radius: 4px;
      color: var(--text-tertiary);
      font-weight: 700;
      font-size: 12px;
    }
  }

  span {
    font-size: 16px;
    font-weight: 600;
    flex: 1 1 100%;
    color: var(--text-tertiary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.15s ease-in-out;
    max-width: min-content;
    padding-right: 12px;
  }
}
/** [End of Emote Suggestions] **/

@keyframes slideAndFadeIn {
  0% {
    transform: translateY(24px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes replySlideAndFadeIn {
  0% {
    transform: translateY(24px);
    opacity: 0;
  }
  100% {
    transform: translateY(-4px);
    opacity: 1;
  }
}
